<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Localization Engine</title>
</head>
<body>
  <h1>Indoor Localization Module</h1>
  <p>This is where BSSID detection and mapping will happen.</p>
</body>
</html>
